<%- include('header.ejs'); %>

		<div class="content">
			<h2>Your Account</h2>
			<div>
				<p>Your account details are below:</p>
				<table>
					<tr>
						<td>Username:</td>
						<td><%= username %></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><%= password %></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><%= email %></td>
					</tr>
					<tr>
						<td>Created:</td>
						<td><%= date %></td>
					</tr>
				</table>
			</div>
			<a href="/home" class="umB">Home</a>
		</div>
		<style>
			.umB{
    background-color: #49aaff;
    color: aliceblue;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.4s;
    border: 1px solid #49aaff;
    text-transform: uppercase;
}
.umB:hover{
    background-color: aliceblue;
    color: #49aaff;
    border: 1px solid #49aaff;
}
		</style>
	</body>
</html>